@import 'colors';

$bg-ratio: 45%;

$field-color: #e0e0e0;
$field-bg-color: #0a0a0a;
$field-border-color: #414141;
$field-focus-border-color: #5f4c4c;
$field-placeholder-color: #414141;

html, body {
  height: 100%;
}

button[type="submit"] {
  cursor: pointer;
}

.body-half-1 {
  background-color: $bg-color-gray;
  height: $bg-ratio;
  min-height: $bg-ratio;
}

.body-half-2 {
  background-color: $bg-color-dark;
  height: 100% - $bg-ratio;
  min-height: 100% - $bg-ratio;
}

.login-container {
  position: absolute;
  top: 27%;
  width: 100%;
}

.login-box {
  background-color: $bg-color-darker;
  box-shadow: 0 0 2px 0 rgba(255, 255, 255, 0.25);
}

.login-logo {
  margin: 10px 0;
}

.login-form {
  padding: 20px 40px;
}

.input-group {
  margin: 15px 0;
}

.input-group-addon {
  background-color: $field-bg-color;
  border-color: $field-border-color;
  color: $field-color;

  .fa {
    color: $field-placeholder-color;
    font-size: 14px;
  }
}

input[type="text"], input[type="password"] {
  @extend .input-group-addon;

  font-size: 12px;

  &:focus {
    background-color: lighten($field-bg-color, 5%);
    border-color: $field-focus-border-color;
    box-shadow: 0 0 5px darken($field-focus-border-color, 5%);
    color: $field-color;
  }
}