.header-nav {
  background-color: #fbfbfb;

  nav {
    a {
      display: inline-block;
      font-size: 14px;
      font-weight: bold;
      padding: 6px 8px;
      text-transform: uppercase;

      .nav-fa {
        font-size: 14px;
        margin: 4px 6px 0 0;
      }
    }
  }

  .lang-select {
    cursor: pointer;
    display: block;
    font-size: 12px;
    //margin-top: 14px;
    padding: 6px 0 6px 10px;
    //text-align: center;
    //width: 90px;

    .fa {
      margin-top: 1px;
    }
  }

  .logo {
    margin: 6px 0 7px 0;
  }
}

.navbar-toggler {
  border: 1px solid $border-color-brown;
  margin: 14px 20px 0 0;
}

.flag-icon {
  border: 1px solid #aaaaaa;
  border-radius: 2px;
  font-size: 14px;
  line-height: 13px;
  margin: 0 6px;
}
