$bg-color-dark: #272727;

$color-black: #0a0a0a;
$color-black-mid: lighten($color-black, 8%);

$field-focus-border-color: #5f4c4c;

$color-gray: #bababa;
$color-gray-light: #f0f0f0;
$color-gray-mid: #414141;
$color-blue-light: #09abff;