body {
  background-color: $black-light;
  color: $gray-light;
}

a {
  color: $blue-light;

  @include hover-focus {
    color: darken($blue-light, 8%);
    text-decoration: none;
  }
}

table {
  td {
    vertical-align: middle !important;
  }

  &.table-actions {
    th:last-of-type {
      text-align: right;
      width: 160px;
    }

    tr > td:last-of-type {
      text-align: right;
    }
  }
}

.gray-light {
  color: $gray-light;
}

.form-control {
  font-size: .8rem;
}

.input-group-addon {
  .fa {
    color: $gray-mid;
    font-size: .9rem;
  }
}

.smaller {
  font-size: $font-size-smaller;
}

.btn {
  cursor: pointer;

  @include hover-focus {
    box-shadow: none;
  }
}

.btn-panel {
  color: $gray-light;
  font-size: $font-size-smaller;
  font-weight: 700;
  padding: .6rem 1rem .5rem;
  text-transform: uppercase;

  .fa {
    margin-right: 6px;
  }
}


// header
header {
  background-color: $black;
  height: 70px;
  left: 0;
  padding: .6rem .9rem 0;
  position: fixed;
  top: 0;
  z-index: 2;
}


// main menu
.page-menu {
  background-color: $black;
  height: 100%;
  left: 0;
  position: fixed;
  top: 70px;
  width: 220px;
  z-index: 2;

  a {
    display: block;
    padding: .5rem .7rem;
    width: 100%;

    &.active,
    &:hover,
    &:focus {
      border-left: $blue-light solid 5px;
      color: lighten($blue-light, 10%);
      background-color: $black-lighter;
      text-decoration: none;
    }

    .fa {
      margin: 0 .5rem 0 0;
    }
  }
}


// contents
table {
  thead {
    th {
      background-color: $black;
    }
  }
}

.content-container {
  margin: 70px 0 0 220px;
}

//.page-menu-caret {
//  background-color: $field-bg-color;
//  font-size: 18px;
//  position: fixed;
//  left: 12%;
//}

.content-header {
  border-bottom: 1px solid $black;

  h2 {
    color: $blue-light;
    font-size: $small-font-size;
    font-weight: $font-weight-bold;
    margin: 0;
    text-transform: uppercase;
  }
}

.btn-bar {
  .btn-panel {
    margin: 0 .2rem;
  }
}


// footer
footer {
  background-color: $black;
  bottom: 0;
  font-size: $small-font-size;
  padding: .3rem .6rem;
  position: fixed;
  right: 0;
  z-index: 1;
}
