$flag-icon-css-path: '../img/flags';

$black: #0a0a0a;
$black-light: #272727;
$black-lighter: lighten($black, 8%);

$gray: #bababa;
$gray-light: #f0f0f0;
$gray-mid: #414141;
$blue-light: #09abff;

$field-focus-border-color: #5f4c4c;

$table-border-color: $black-lighter;
$table-accent-bg: lighten($black-light, 1%);
$table-bg: lighten($black, 10%);
