$flag-icon-css-path: '../img/flags';

$black: #0a0a0a;
$black-light: #272727;
$black-lighter: lighten($black, 8%);

$field-focus-border-color: #5f4c4c;

$gray: #bababa;
$gray-light: #f0f0f0;
$gray-mid: #414141;
$blue-light: #09abff;
