@import 'variables';

$bg-ratio: 45%;

@keyframes slideIn {
  0% {
    opacity: 0;
    top: -100px;
  }
  60% {
    opacity: 1;
  }
  100% {
    top: 27%;
  }
}

.body-half-1 {
  background-color: $gray-light;
  height: $bg-ratio;
  min-height: $bg-ratio;
}

.body-half-2 {
  background-color: $black-light;
  height: 100% - $bg-ratio;
  min-height: 100% - $bg-ratio;
}

.login-container {
  animation: slideIn 1s;
  position: absolute;
  top: 27%;
  width: 100%;
}

.login-box {
  background-color: darken($black-light, 4%);
  box-shadow: 0 0 2px 0 rgba(255, 255, 255, 0.25);
}

.login-logo {
  height: 144px;
  width: 218px;
}
