.btn-brown {
  background-color: $bg-color-brown;
  border-color: $bg-color-brown;
  color: #fff;

  &:hover {
    background-color: darken($bg-color-brown, 8%);
  }

  &:focus {
    box-shadow: 0 0 0 1px $border-color-brown;
    color: #fff;
  }
}