.brown-light {
  color: $brown-light;
}

.btn {
  cursor: pointer;

  @include hover-focus {
    box-shadow: none;
  }
}

.btn-brown {
  background-color: $brown;
  color: $white;

  @include hover-focus {
    background-color: darken($brown, 8%);
    box-shadow: none;
    color: darken($white, 8%);
  }
}

.vcenter {
  margin-top: auto;
  margin-bottom: auto;
}


.form-group {
  .help-block {
    display: block;
  }

  &.has-error {
    input,
    textarea {
      border: 1px solid $red;
    }

    .help-block {
      color: $red;
    }
  }
}


.item-group-header {
  font-size: 1.4rem;
  text-align: center;
  text-transform: uppercase;
}

.item-group {
  background-color: rgba(0, 0, 0, 0.07);
  text-align: center;
  width: 260px;

  img {
    margin: 1.4rem;
  }

  .item-group-label {
    padding-bottom: 15px;
  }
}

.page-error {
  padding: 5rem 0;

  .error-code {
    font-size: 6rem;
  }

  .error-descr {
    text-transform: uppercase;
  }
}
